.git/
.dvc/cache/
.dvc/tmp/

data/
models/
reports/
wandb/
requirements/
tmp/
mlops/

__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.ruff_cache/
.pre-commit-cache*/
.coverage
htmlcov/

.env
.env.*
!.env.example
.venv/
venv/
env/

configs/local_run_config.yaml
configs/local_run_monitoring_config.yaml

readme.txt
